.btn-simpan{
    margin-top: 10px;
    margin-left: 80%;
    border-radius: 10px;
    border: none;
    width: 100px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #FD7E14;
    color: white;
    font-weight: 400;
  }
.caption2{
    color: rgb(31, 144, 219);
}
.caption{
    padding: 10px 20px;
    font-size: 30px;
    border-bottom: 2px solid black;
 }
 .photo{
    width: 15%;
 }
 .upload{
   width: 150px;
   position: relative;
   margin: auto;
 }

 .upload img{
   border-radius: 50%;
   border: 3px solid rgb(31, 144, 219);
 }

 .upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 38px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
 }
 .upload .round input[type="file"]{
   position: absolute;
   transform: scale(2);
   opacity: 0;
}

input[type="file"]::-webkit-file-upload-button{
   cursor: pointer;
}
 /* .edit{
    background-color:#17A2B8;
    width: 50px;
    height: 50px;
    margin-left: 55%;
    color: white;
    margin-right: 10px;
 } */
 