.btn-add-custom{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #FD7E14;
    color: white;
}

.btn-im-custom{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 120px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #28b416;
    color: white;
}
.btn-ex-custom{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 120px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #1800f5;
    color: white;
}
